@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #2D3748;
}

::-webkit-scrollbar-thumb{
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}

.glass {
  background: rgba(39, 39, 42, 0.7);
  backdrop-filter: blur(2px);
}

.glass-input {
  background: rgba(63, 63, 70, 0.2);
  backdrop-filter: blur(2px);
}

.label {
  @apply text-sm text-white font-semibold
}

.input {
  @apply glass-input block w-full mt-1 text-white bg-zinc-700 border-gray-200 rounded-md focus:border-orange-600 focus:ring focus:ring-opacity-40 focus:ring-orange-500
}

.bg-image {
  background-image: url('../../public/bg-image.jpg');
  background-size: cover; /* Redimensiona a imagem para cobrir todo o elemento */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Alinha a imagem ao centro do elemento */
}

.layout {
  @apply bg-image flex justify-center h-screen bg-zinc-900 select-none
}

.form {
  @apply glass w-full max-w-sm p-6 bg-zinc-800 shadow-md flex flex-col justify-start
}

.title {
  @apply text-2xl font-semibold text-white
}

.input-check {
  @apply text-orange-600 border-gray-200 rounded-md focus:border-orange-600 focus:ring focus:ring-opacity-40 focus:ring-orange-500
}

.link {
  @apply block text-sm text-orange-500 hover:underline font-semibold
}

.btn {
  /* @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-orange-600 rounded-md focus:outline-none hover:bg-orange-500 */
  @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-orange-600 rounded-md focus:outline-none hover:bg-orange-500
}

.btn-disabled {
  /* @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-orange-600 rounded-md focus:outline-none hover:bg-orange-500 */
  @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-orange-500 rounded-md focus:outline-none
}

.btn-success {
  /* @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-orange-600 rounded-md focus:outline-none hover:bg-orange-500 */
  @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-green-600 rounded-md focus:outline-none hover:bg-green-500
}

.btn-success-disabled {
  /* @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-orange-600 rounded-md focus:outline-none hover:bg-orange-500 */
  @apply w-full px-4 py-2 text-sm text-center font-semibold text-white bg-gray-300 rounded-md focus:outline-none
}